{% extends "base.html" %}

{% block content %}
    {% include "navigation.html" %}
    <div class="row">
        <div class="twelve columns">
            <h2>About SpamSir</h2>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <h4>SpamSir is a tool that returns a spam score for emails, making it possible 
                to send smarter emails that are not misinterpreted to be spam.  In addition
                to the spam score, SpamSir also returns a report of attributes that alter the
                score allowing you to decide whether to send certain emails and how to improve
                your score in the future.</h4>
        </div>
    </div>
{% endblock %}
