<div id="header" >
    <div class="container">
		<div class="row">
			<div class="four columns">
                <a href="{{ url_for('index') }}">
                    <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" \>
				</a>
			</div>
            <div class="five columns">
                <i><h5 style="margin-top:40px; color:#fff;">Developed By <a href="https://github.com/rgruener/EasyDraft" style="color:#5CF">Robert Gruener</a></h5></i>
			</div>
            <div class="three columns">
                <div id="login" style="text-align:right;">
                    {% if not current_user.is_authenticated() %}
                        <a href="{{ url_for('login', next=request.args.get('next') or request.path or None) }}" class="medium secondary button">Login</a>
                        <i><h5 style="margin-top:6px; font-size:15px; color:#fff;">Don't Have An Account?<br/><a href="{{ url_for('register',next=request.path) }}" style="color:#5CF">Create One</a></h5></i>
                    {% else %}
                        <a href="#" class="medium secondary button" data-reveal-id="myAccountModal">My Account</a>
                        <i><h5 style="margin-top:6px; color:#fff;">Not {{ current_user.username }}? <a href="{{ url_for('logout', next=request.path or '/') }}" style="color:#5CF">Logout</a></h5></i>
                    {% endif %}
                </div>
            </div>
		</div>
	</div>
</div>

