{% extends "base.html" %}

{% block content %}
    {% include "navigation.html" %}
    <div class="row">
        <div class="twelve columns">
            <h3>Don't Fuss Organizing Your Next Fantasy Draft</h3>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <h4>EasyDraft is a tool that allows you to easily perform fantasy football
                drafts with friends by keeping track of picks, displaying statistics, 
                and more.  Therefore dont fuss with pencil and paper on your next draft
                day.  Use our big board and have a draft both worth remembering and a
                setup thats a breeze.</h4>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <h3>How to Use EasyDraft</h3>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <h4>In order to use EasyDraft, you should <a href="{{ url_for('register', next=request.path) }}">create an EasyDraft account</a>.
                Once you have an account you can <a href="{{ url_for('new_league') }}">start a new league</a>, setup your draft, and invite your friends over for draft day.  You can
                view all of your current teams at any time to compare previous drafts and prepare for your next draft day victory.  
                </h4>
        </div>
    </div>
{% endblock %}
