{% extends "base.html" %}

{% block content %}
    {% include "navigation.html" %}
    <div class="row">
        <div class="twelve columns">
            <h2>Login to your EasyDraft Account</h2>
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            {% if not current_user.is_authenticated() %}
            <h5>Don't have an account? <a href="{{ url_for('register', next=request.args.get('next') or '/') }}">Create One</a></h5>
                {% if error %}
                    <p class="error">Sorry, that's not a valid username and/or password</p>
                {% endif %}

                {% from "_formhelpers.html" import render_field %}
                <form action="" method="post">{{ form.csrf_token }}
                    <dl>
                        {{ render_field(form.username) }}
                        {{ render_field(form.password) }}
                    </dl>
                    <input type="submit" value="Login" class="medium button" />
                    <input type="hidden" name="next" value="{{ request.args.get('next')|escape }}" />
                </form>
            {% else %}
                <h5>You are already logged in as {{ current_user.username }}. Would you like to <a href="{{ url_for('logout', next=request.args.get('next') or '/') }}">logout?</a></h5>
            {% endif %}
        </div>
    </div>
{% endblock %}
