{% extends "base.html" %}

{% block content %}
    {% load static %}
    {% include "navigation.html" %}
    <div class="row">
        <div class="twelve columns">
            <h2>Change Your Account Password</h2>
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            {% if user.is_authenticated %}
                <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Change Password" class="medium button" />
                </form>
            {% else %}
                <h4>You must login before changeing your account password.</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}
