{% extends "base.html" %}

{% block content %}
    {% include "navigation.html" %}
    <div class="row">
        <div class="twelve columns">
            <h2>You Have Changed Your Email</h2>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            {% if success %}
                <h4>The email address associated with your account has been successfully changed.</h4>
            {% else %}
                <h4>An error occurred while trying to change the email address associated with your account.</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}
