{% extends "base.html" %}

{% block content %}
    {% include "navigation.html" %}
    <div class="row">
        <div class="twelve columns">
            <h2>Change Your Account Password</h2>
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            {% if current_user.is_authenticated() %}
                {% if error %}
                    <p class="error">Please enter a valid password</p>
                {% endif %}
                {% from "_formhelpers.html" import render_field %}
                <form action="" method="post">{{ form.csrf_token }}
                    <dl>
                        {{ render_field(form.old_password) }}
                        {{ render_field(form.password) }}
                        {{ render_field(form.confirm) }}
                    </dl>
                    <input type="submit" value="Change Password" class="medium button" />
                </form>
            {% else %}
                <h4>You must login before changing your account password.</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}
